/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wcrh-custom-logo {
	width: 100%;
	flex-grow: 1;

	svg {
		fill: var(--wp--preset--color--contrast, #000);
		width: 100%;
	}
}

// Colour Options

.has-base-color {
	svg {
		fill: var(--wp--preset--color--base);
	}
}

.has-base-2-color {
	svg {
		fill: var(--wp--preset--color--base-2);
	}
}

.has-contrast-color {
	svg {
		fill: var(--wp--preset--color--contrast);
	}
}

.has-contrast-2-color {
	svg {
		fill: var(--wp--preset--color--contrast-2);
	}
}

.has-contrast-3-color {
	svg {
		fill: var(--wp--preset--color--contrast-3);
	}
}

.has-accent-color {
	svg {
		fill: var(--wp--preset--color--accent);
	}
}

.has-accent-2-color {
	svg {
		fill: var(--wp--preset--color--accent-2);
	}
}

.has-accent-3-color {
	svg {
		fill: var(--wp--preset--color--accent-3);
	}
}

.has-accent-4-color {
	svg {
		fill: var(--wp--preset--color--accent-4);
	}
}

.has-accent-5-color {
	svg {
		fill: var(--wp--preset--color--accent-5);
	}
}
